<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>520370246638-p8h8mrn60f1aglikuk8v9fp663s6vtf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520370246638-p8h8mrn60f1aglikuk8v9fp663s6vtf5</string>
	<key>API_KEY</key>
	<string>AIzaSyCZNOqaddLlnKSgR1LEOw-iBqiTev4G-0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>520370246638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-si.DailyTarrot</string>
	<key>PROJECT_ID</key>
	<string>tarotdaily-9e4e1</string>
	<key>STORAGE_BUCKET</key>
	<string>tarotdaily-9e4e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:520370246638:ios:e902d609cceb00bf</string>
	<key>DATABASE_URL</key>
	<string>https://tarotdaily-9e4e1.firebaseio.com</string>
</dict>
</plist>